<style media="screen">
  body {
    /*width: 100% !important;*/
    /*height:100% !important;*/
    /*border: 0 !important;*/
    /*padding: 0 !important;*/
    overflow-y: auto !important;
    /*margin: 0 !important;*/
  }
</style>
<div class="row">
  <div class="panel panel-default" style="width:100%;margin-left: 15px;">
    <div class="panel-heading">USB MASTER CONFIGURATION</div>
    <div class="panel-body">
      <%+ "systemsetting/usbport/usbport_index.html"  %>
    </div>
  </div>

  <!--<div class="panel panel-default" style="width:100%;margin-left: 15px;">
    <div class="panel-heading">MODBUS MASTER CONFIGURATION</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="">PORT :</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="" placeholder="Enter PORT " value="502">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="">ADDRESS MASTER:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="" placeholder="Enter ">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-default">APPLY</button>
          </div>
        </div>
      </form>
    </div>
  </div>-->

</div>