<div class="panel panel-default" style="width:100%;min-height:600px;margin-left: 0px;">
  <div class="panel-heading">WEB SERVER CONFIGURATION</div>
  <div class="panel-body">
<div class="row">
  <div class="col-md-2">
  </div>
    <div class="col-md-8">
<form class="form-horizontal">
    <div class="checkbox">
      <label><input type="checkbox"> Enable Web Server</label>
    </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Port :</label>
    <div class="col-sm-5">
    <input type="numer" class="form-control" id="email">
  </div>
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Enable Form Authentication</label>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">username:</label>
    <div class="col-sm-5">
    <input type="text" class="form-control" id="pwd">
  </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-5">
    <input type="password" class="form-control" id="pwd">
  </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
  </div>
</div>
