<link rel="stylesheet" href="static/css/bootstrap.min.css">

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.3/jquery.contextMenu.css">-->

<link rel="stylesheet" href="static/css/jqx.base.css">
<link rel="stylesheet" href="static/css/jqx.bootstrap.css" type="text/css" />
<!-- <script src="static/js/jquery-3.1.1.min.js"  charset="utf-8"></script> -->
<link rel="stylesheet" href="static/css/pace-theme-center-circle.css">
<script src="static/js/pace.min.js" charset="utf-8"></script>
<script src="static/js/loadingku.js"></script>
<!--<script src="static/bower_components/vue/dist/vue.js" charset="utf-8"></script>-->
<link rel="stylesheet" href="static/css/sweetalert2.min.css">
<!-- <script type="text/javascript" src="static/vendor/jqwidgets/scripts/jquery-1.11.1.min.js"></script> -->

<style type="text/css">
  body,
  html {
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: none;
    overflow: hidden;
  }
  
  .required {
    vertical-align: baseline;
    color: red;
    font-size: 10px;
  }
  
  .control-label {
    white-space: nowrap;
  }
  /*.jqx-position-absolute {
    position: inherit !important;
    top: 20px !important;
    left: 20px !important;
  }*/
  
  #footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #288cf4;
  }
  /* IE 6 */
  /**html #footer {
    position: absolute;
    top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop: document.body.scrollTop))+'px');
  }*/
  
  #jamrealtime {
    position: fixed;
    margin-left: 75%;
    z-index: 2000;
    color: #337ab7;
  }
  
  .editedRow {
    color: #b90f0f !important;
    font-style: italic;
  }
</style>