<script src="static/js/jquery.min.js" charset="utf-8"></script>
<script src="static/js/bootstrap.min.js"></script>
<!-- <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.4.3/jquery.contextMenu.js" charset="utf-8"></script>-->
<script src="static/js/jqx-all.js" charset="utf-8"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" charset="utf-8"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.6/interact.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/utils/Draggable.min.js" charset="utf-8"></script>-->


<!--<script type="text/javascrstatic/bower_components/jqwidgets/jqxcore.js"></script>-->
<!--<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxtabs.js"></script>

<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxbuttons.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxscrollbar.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxmenu.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxlistbox.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxdata.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxcheckbox.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.sort.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.selection.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxwindow.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.edit.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.columnsresize.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxdata.export.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.export.js"></script>
<script type="text/javascript" src="static/bower_components/jqwidgets/jqwidgets/jqxnumberinput.js"></script>
<script src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.columnsreorder.js"></script>
<script src="static/bower_components/jqwidgets/jqwidgets/jqxgrid.filter.js"></script>-->

<script src="static/js/sweetalert2.min.js" charset="utf-8"></script>
<script src="static/js/notify.min.js" charset="utf-8"></script>

<script src="static/js/axios.js" charset="utf-8"></script>

<script>
    var urlWebUsbPort;
    var url_tags_js;
    var url_tags_Controller;

</script>