<footer id="footer">
    Revisi:21 FEBRUARI 2017 Handphone :
    <%==s res.Handphone %>|| Email:
        <%==s res.Email %>|| PORT WEB :
            <%==s res.BaseURL %> || PORT MODBUS TCP:
                <%==s res.PORTModbusTCP %> || Facebook:
                    <a href="https://www.facebook.com/eddot.fu">Edy Prasetiyo</a>

</footer>