<script type="text/javascript">
  function date_time(id) {
    date = new Date;
    year = date.getFullYear();
    month = date.getMonth();
    months = new Array('JANUARI', 'FEBRUARI', 'MARET', 'APRIL', 'MEI', 'JUNI', 'JULI', 'AGUSTUS', 'SEPTEMBER', 'OKTOBER', 'NOVEMBER', 'DESEMBER');
    d = date.getDate();
    day = date.getDay();
    days = new Array('MINGGU', 'SENIN', 'SELASA', 'RABU', 'KAMIS', 'JUMAT', 'SABTU');
    h = date.getHours();
    if (h < 10) {
      h = "0" + h;
    }
    m = date.getMinutes();
    if (m < 10) {
      m = "0" + m;
    }
    s = date.getSeconds();
    if (s < 10) {
      s = "0" + s;
    }
    result = '' + days[day] + ' ' + months[month] + ' ' + d + ' ' + year + ' ' + h + ':' + m + ':' + s;
    // console.log(id);
    $('#' + id).text(result);
    // document.getElementById(id).value = result;
    $('#' + id).text(result);
    return true;
  }
  Date.prototype.format = function (mask, utc) {
    return dateFormat(this, mask, utc);
  };

  $(document).ready(function () {
    // function tab klik


    function ajax_(url_, type_, param_ = '', target = '') {
      $.ajax({
        url: url_,
        type: type_,
        // dataType: 'json',
        data: param_
      })
        .done(function (data) {
          alert("success");

        })
        .fail(function () {
          alert("error");
        })
        .always(function () {
          alert("complete");
        });
    }


  });
  function print_(param) {
    // console.log(param);
  }

</script>


<script type="text/javascript">
  var urlWebUsbPort = " <%= res.BaseURL %>" + "/web/usbportmodule";
  var url_tags_js = " <%= res.BaseURL %>" + '/web/tagmodule';
  var url_tags_Controller = ' <%= res.BaseURL %>' + '/web/controllermodule';
  var refreshTableController;
  var refreshTableTags;
  var editedRowsTableTag = [];
  var editedRowsTableController = [];//global variabel

  $(document).ready(function () {
    // setTimeout(date_time("' + id + '"), 1000);
    setInterval(function () { date_time("jamrealtime") }, 1000)
    date_time('jamrealtime');
    $.jqx.theme = "bootstrap";
    // create jqxtabs.
    $('#jqxtabs').jqxTabs({ width: '100%', height: 'auto%', position: 'top', theme: 'bootstrap' });
    $('#jqxtabs').bind('selected', function (event) {
      var item = event.args.item;
      var title = $('#jqxtabs').jqxTabs('getTitleAt', item);
      $('#jqxtabs').css('visibility', 'visible');
      // swal(item.toString());
      if (item == 0) {
        refreshTableTags();
      }
      else if (item == 1) {
        refreshTableController();
      } else if (item == 2) {
      } else if (item == 3) {
        getportavailable();
      } else if (item == 4) {
      }
    });
  });

</script>