<!-- Modal -->
<div class="modal fade modalInformasiTags" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">INFORMASI HALAMAN TAGS</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            @for ($i=0; $i < 5; $i++)
            <hr />
            tes
            @endfor
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
