<script type="text/javascript">
  //
  // datatipe == "INT16LE" ||
  // datatipe == "INT32LE" ||
  //               datatipe == "INT16BE" ||
  //               datatipe == "INT32BE" ||
  // datatipe == "UINT16BE" ||
  // datatipe == "UINT32BE" ||
  //               datatipe == "UINT16LE" ||
  //               datatipe == "UINT32LE" ||

  var listDatatype = [
    "INT16LE", "INT32LE",
    "INT16BE", "INT32BE",
    "UINT16LE", "UINT32LE",
    "UINT16BE", "UINT32BE",
    "FLOAT32LE", "FLOAT64LE",
    "FLOAT32BE", "FLOAT64BE"];
  // var accessright = ["READWRITE", "READ", "WRITE"];
  var accessright = ["READ", "WRITE"];

  var IdnamefromcontrollerTag_list = [];
  var IdnametocontrollerTag_list = [];

  var refreshTableTags;
  $(document).ready(function () {
    var url_update = url_tags_js + '/updatetagbyselectrow';
    var url_select = url_tags_js + '/gettabletags';
    // var myVar = setTimeout(refreshTableTags, 500);

    refreshTableTags = function () {
      $.ajax({
        url: url_select,
        type: 'GET',
        async: true,
        contentType: "application/json; charset=utf-8;",
        beforeSend: function (xhr) {
          var token = $('meta[name="csrf_token"]').attr('content');
          if (token) {
            // print("token true");
            return xhr.setRequestHeader('X-CSRF-TOKEN', token);
          } else {
            alert("token false");
            // print("token false");
          }
        }
        , success: function (data) {
          // var res=JSON.parse(data);
          res = JSON.stringify(data);
          // alert('reload tabel tags');
          $.notify("REFRESH HALAMAN", "info");
          var qty = res.length;
          if (qty > 0) {
            for (i = 0; i < qty; i++) {
            };
            editedRowsTableTag = [];
            initTableTags(data);
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          print_(jqXHR);
          swal({
            title: textStatus,
            html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
            + '<br />' + 'CODE:' + jqXHR.status,
            type: "error"
          })
        }, complete: function () {
          stopLoading();
        }
      }); //end ajax
    }//end relod ajax

    // delete row.
    $("#idBtnDeleteTag").on('click', function (event) {
      event.preventDefault();
      var selectedrowindex = $("#idTabelTags").jqxGrid('getselectedrowindex');
      var rowscount = $("#idTabelTags").jqxGrid('getdatainformation').rowscount;
      if (selectedrowindex >= 0 && selectedrowindex < rowscount) {
        var id = $("#idTabelTags").jqxGrid('getrowid', selectedrowindex);
        $("#idTabelTags").jqxGrid('deleterow', id);
      }
    });
    // initTableTags();
    function initTableTags(jsondata) {
      if (jsondata != undefined) {
        if (jsondata.controller_list == undefined) {
          swal({
            title: "INFROMASI",
            html: "<span style='color:#F8BB86'>" + "Anda Belum Membuat Controller" + "<span>"
            ,
            type: "error"
          })
          return false;
        }
        IdnamefromcontrollerTag_list = [];
        // IdnametocontrollerTag_list = [];
        IdnamefromcontrollerTag_list = jsondata.controller_list;
        // IdnamefromcontrollerTag_list.push("SELF_CONTROLLER");
        IdnametocontrollerTag_list = "SELF_CONTROLLER";
      };
      var theme = "bootstrap";
      var source =
        {
          localdata: jsondata.tag_list,

          // datatype: "json",
          // cache: false,
          datafields: [
            { name: 'ID', type: 'int' },
            { name: 'IdnameTag' },
            { name: 'IddatatypeTag' },
            { name: "IdaccessrightTag" },
            { name: 'IdnamefromcontrollerTag' },
            { name: 'IdregisterfromcontrollerTag', type: 'string' },
            { name: 'IdnametocontrollerTag', type: 'string' },
            { name: 'IdregistertocontrollerTag', type: 'string' },
            { name: 'IdlastvalueTag' },
            { name: 'UpdatedAt', type: "date" }
          ],
          id: 'ID',
        };
      var dataAdapterTags = new $.jqx.dataAdapter(source);
      // initialize jqxGrid
      $("#idTabelTags").jqxGrid({
        width: '99%',
        height: '99%',
        source: dataAdapterTags,
        // filterable: true,
        // sortable: true,
        // pageable: true,
        // autoheight: false,
        // columnsautoresize: true,
        // columnsresize: true,
        // altrows: true,
        // pageable: false,
        // // autoheight: true,
        // selectionmode: 'singlerow',
        // //  selectionmode: 'none',
        sortable: true,
        pageable: false,
        altrows: true,
        columnsresize: true,
        showfilterrow: true,
        filterable: true,
        selectionmode: 'singlecell',
        editable: true,
        theme: 'bootstrap',
        ready: function () {
          print_($("#idTabelTags").jqxGrid('getdatainformation').rowscount);
          $('#idTabelTags').on('cellvaluechanged', function (event) {
            //  $('#idTabelTags').jqxGrid('autoresizecolumn');
          });

        },
        columns: [
          { align: 'center', text: 'ID', datafield: 'ID', width: 300, hidden: true },
          { align: 'center', text: 'NAME_TAGS', datafield: 'IdnameTag', width: 200 },
          {
            align: 'center', text: 'DATATYPE', datafield: 'IddatatypeTag', columntype: 'dropdownlist', width: 100,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(listDatatype, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ 'IddatatypeTag': this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            align: 'center', text: 'ACCESSRIGHT', datafield: 'IdaccessrightTag', columntype: 'dropdownlist', width: 100,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(accessright, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ "IdaccessrightTag": this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            align: 'center', columngroup: 'from', text: 'NAME', datafield: 'IdnamefromcontrollerTag', columntype: 'dropdownlist', width: 200,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(IdnamefromcontrollerTag_list, function (index) {
                // print_(index);
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ 'IdnamefromcontrollerTag': this });
                // print_(IdnamefromcontrollerTag_list);
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            align: 'center', text: 'REGISTER', datafield: 'IdregisterfromcontrollerTag', width: 80, columngroup: 'from', columntype: 'numberinput',
            validation: function (cell, value) {
              var dataRecord = $("#idTabelTags").jqxGrid('getrowdata', cell.row);
              var datatipe = dataRecord.IddatatypeTag;
              print_(datatipe);
              if (
                datatipe == "INT16LE" ||
                datatipe == "INT32LE" ||
                datatipe == "INT16BE" ||
                datatipe == "INT32BE" ||
                datatipe == "UINT16BE" ||
                datatipe == "UINT32BE" ||
                datatipe == "UINT16LE" ||
                datatipe == "UINT32LE" ||

                datatipe == "FLOAT32LE" ||
                datatipe == "FLOAT64LE" ||
                datatipe == "FLOAT32BE" ||
                datatipe == "FLOAT64BE"
              ) {
                if (value > 49999 || value < 40000 && value > 0) {
                  return { result: false, message: "REGISTER HARUS BERISI NILAI 40000 - 49999" };
                }
              }
              return true;
            },
            initeditor: function (row, cellvalue, editor) {
              editor.jqxNumberInput({ decimalDigits: 0 });
            }
          },
          {
            align: 'center', editable: false, columngroup: 'to', text: 'NAME', datafield: 'IdnametocontrollerTag', width: 200
          },
          // {
          //   align: 'center', columngroup: 'to', text: 'NAME', datafield: 'IdnametocontrollerTag', columntype: 'dropdownlist', width: 200,
          //   initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
          //     var array = new Array();
          //     var selectedIndex = -1;
          //     $.each(IdnametocontrollerTag_list, function (index) {
          //       if (this == cellvalue)
          //         selectedIndex = index;
          //       array.push({ 'IdnametocontrollerTag': this });
          //     });
          //     editor.jqxDropDownList({
          //       source: array, selectedIndex: selectedIndex
          //     });
          //   }
          // },
          {
            align: 'center', text: 'REGISTER', datafield: 'IdregistertocontrollerTag', width: 90, columngroup: 'to', columntype: 'numberinput',
            validation: function (cell, value) {
              var dataRecord = $("#idTabelTags").jqxGrid('getrowdata', cell.row);
              var datatipe = dataRecord.IddatatypeTag;
              print_(datatipe);
              if (
                // datatipe =="INT16" ||
                //   datatipe =="INT32" ||
                //   datatipe =="INT16" ||
                //   datatipe =="INT32" ||

                datatipe == "INT16LE" ||
                datatipe == "INT32LE" ||
                datatipe == "INT16BE" ||
                datatipe == "INT32BE" ||
                datatipe == "UINT16BE" ||
                datatipe == "UINT32BE" ||
                datatipe == "UINT16LE" ||
                datatipe == "UINT32LE" ||
                datatipe == "INT16LE" ||
                datatipe == "INT32LE" ||
                datatipe == "INT16BE" ||
                datatipe == "INT32BE" ||

                datatipe == "FLOAT32LE" ||
                datatipe == "FLOAT64LE" ||
                datatipe == "FLOAT32BE" ||
                datatipe == "FLOAT64BE"
              ) {
                if (value > 49999 || value < 40000 && value > 0) {
                  return { result: false, message: "REGISTER HARUS BERISI NILAI 40000 - 49999" };
                }
              }
              return true;
            },
            initeditor: function (row, cellvalue, editor) {
              editor.jqxNumberInput({ decimalDigits: 0 });
            }
          },
          { align: 'center', text: 'LASTVALUE', width: 80, editable: false, datafield: 'IdlastvalueTag', columngroup: 'realvalue' },
          { align: 'center', text: 'UPDATETIME', width: 150, editable: false, cellsformat: 'dd-MM-yyyy hh:mm:ss', datafield: 'UpdatedAt', columngroup: 'realvalue' },
          {
            align: 'center', text: 'Update', datafield: 'Update', columntype: 'button', cellsrenderer: function () {
              return "Update";
            }, buttonclick: function (row) {
              // open the popup window when the user clicks a button.
              let editrow = row;
              // idTabelTags
              editrow = row;
              //  alert(row);
              var offset = $("#idTabelTags").offset();
              //  $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60 } });
              //
              //  // get the clicked row's data and initialize the input fields.
              var dataRecord = $("#idTabelTags").jqxGrid('getrowdata', editrow);
              // print_(dataRecord);
              var dataJson = {
                'ID': parseInt(dataRecord.ID),
                'IdnameTag': dataRecord.IdnameTag,
                'IddatatypeTag': dataRecord.IddatatypeTag,
                'IdaccessrightTag': dataRecord.IdaccessrightTag,
                'IdnamefromcontrollerTag': dataRecord.IdnamefromcontrollerTag,
                'IdregisterfromcontrollerTag': dataRecord.IdregisterfromcontrollerTag.toString(),
                'IdnametocontrollerTag': dataRecord.IdnametocontrollerTag,
                'IdregistertocontrollerTag': dataRecord.IdregistertocontrollerTag.toString(),
                'IdlastvalueTag': dataRecord.IdlastvalueTag,
              };
              // print_(dataJson);
              if (dataRecord.IdnamefromcontrollerTag == dataRecord.IdnametocontrollerTag) {
                alert("PEMILIHAN NAMA KONTROLLER HARUS BERBEDA DALAM SATU NAMA TAGS");
                return false;
              }
              axios.post(url_tags_js + '/updatetagbyselectrow', {
                Data: dataJson
              })
                .then(function (response) {
                  if (response.data.Status == "success") {
                    $.notify(response.data.Message, "success");
                  } else if (response.data.Status == "warning") {
                    $.notify({ message: response.data.Message }, { type: "warn" }, { timer: 500 });
                  } else {
                    $.notify("pastikan anda terhubung dengan server atau hubungi administrator, eroor updatecontroller", "error");
                  }
                })
                .catch(function (error) {
                  swal({
                    title: "ERROR",
                    html: "<span style='color:#F8BB86'>" + error + "<span>"
                    + '<br />',
                    type: "error"
                  })
                });//end axios

            }
          },
          {
            align: 'center', text: 'Delete', datafield: 'Delete', columntype: 'button', cellsrenderer: function () {
              return "Delete";
            }, buttonclick: function (row) {
              // open the popup window when the user clicks a button.
              editrow = row;
              var dataRecord = $("#idTabelTags").jqxGrid('getrowdata', editrow);
              print_(dataRecord);
              var dataJson = {
                'ID': dataRecord.ID,
                'IdnameTag': dataRecord.IdnameTag,
                'IdaccessrightTag': dataRecord.IdaccessrightTag,
                'IddatatypeTag': dataRecord.IddatatypeTag,
                'IdlastvalueTag': dataRecord.IdlastvalueTag,
                'IdnamefromcontrollerTag': dataRecord.IdnamefromcontrollerTag,
                'IdnametocontrollerTag': dataRecord.IdnametocontrollerTag,
                'IdregisterfromcontrollerTag': dataRecord.IdregisterfromcontrollerTag,
                'IdregistertocontrollerTag': dataRecord.IdregistertocontrollerTag,
                'UpdatedAt': dataRecord.idupdatetime_tag,

              };
              var txt;
              var r = confirm("Data Controller :" + dataJson.IdnameTag + " akan Terhapus!");
              if (r == false) {
                return;
                // txt = "You pressed OK!";
              }
              axios.post(url_tags_js + "/deletetabletags", {
                Data: dataJson
              }).then(msg => {
                if (msg.data.Status == "success") {
                  $.notify(msg.data.Message, "success");
                  refreshTableTags();
                  $('#idTabelTags').jqxGrid('updatebounddata', 'cells');
                } else {
                  swal({
                    title: "Warning",
                    html: "<span style='color:#F8BB86'>" + msg.data.Message + "<span>"
                    + '<br />' + "Error:" + msg.data.Error,
                    type: "warning"
                  });
                }
              }).catch(err => {
                swal({
                  title: "Error",
                  html: "<span style='color:#F8BB86'>" + err + "<span>"
                  + '<br />',
                  type: "error"
                });
              })
            }
          }// end button kolom
        ],
        columngroups:
        [
          { text: 'REGISTER FROM ', align: 'center', name: 'from' },
          { text: 'REGISTER TO', align: 'center', name: 'to' },
          { text: 'READING DEVICES', align: 'center', name: 'realvalue' }

          //  { text: 'Location', align: 'center', name: 'Location' }
        ]
      });

    }

    function updateTable(editrow) {
      $('#idTabelTags').jqxGrid('clearselection');
      //  alert(row);
      var offset = $("#idTabelTags").offset();
      //  $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60 } });
      //
      //  // get the clicked row's data and initialize the input fields.
      var dataRecord = $("#idTabelTags").jqxGrid('getrowdata', editrow);
      var dataJson = {
        'ID': dataRecord.ID,
        'IdnameTag': dataRecord.IdnameTag,
        'IddatatypeTag': dataRecord.IddatatypeTag,
        'IdaccessrightTag': dataRecord.IdaccessrightTag,
        'IdnamefromcontrollerTag': dataRecord.IdnamefromcontrollerTag,
        'IdregisterfromcontrollerTag': dataRecord.IdregisterfromcontrollerTag,
        'IdnametocontrollerTag': dataRecord.IdnametocontrollerTag,
        'IdregistertocontrollerTag': dataRecord.IdregistertocontrollerTag
      };
      // log(dataJson);
      $.ajax({
        type: "get",
        url: url_update,
        data: dataJson,
        dataType: "json",
        async: true,
        // encode          : true,
        beforeSend: function (xhr) {
          var token = $('meta[name="csrf_token"]').attr('content');
          startLoading();
          if (token) {
            return xhr.setRequestHeader('X-CSRF-TOKEN', token);
          } else {
            alert("token false");
          }
          stopLoading();
        }, success: function (data) {
          if (data.message == "success") {
            // alert(data.data);
            $.notify("BERHASIL MERUBAH DATA TAGS", "success");

            refreshTableTags();
            $('#idTabelTags').jqxGrid('updatebounddata', 'cells');

            // $('#modalAddNewController .close').click();
          } else if (data.message == "failed") {
            alert(data.error);
          }
          stopLoading();
        }, error: function (jqXHR, textStatus, errorThrown) {
          print_(jqXHR);
          swal({
            title: textStatus,
            html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
            + '<br />' + 'CODE:' + jqXHR.status,
            type: "error"
          })
        }
      }); //end of ajax
    }// end update table-

    $('#idReloadManual').click(function (event) {
      /* Act on the event */
      event.preventDefault();
      refreshTableTags();
    });
    //https://jsfiddle.net/edot92/fZhEc/1258/
    $('#idBtnAddNewTag').click(function (event) {
      event.preventDefault();
      var date = new Date();
      var components = [
        date.getYear(),
        date.getMonth(),
        date.getDate(),
        date.getHours(),
        date.getMinutes(),
        date.getSeconds(),
        date.getMilliseconds()
      ];

      var id_ = components.join("");
      var datanameacakacakan = "Tags_" + id_;
      var dataJson = {
        IdnameTag: datanameacakacakan,
        IddatatypeTag: 'INT16BE',
        IdaccessrightTag: 'READ',
        IdnamefromcontrollerTag: '',
        IdregisterfromcontrollerTag: '',
        IdnametocontrollerTag: 'SELF_CONTROLLER',
        IdregistertocontrollerTag: '',
        IdlastvalueTag: '',
        idupdatetime_tag: ''
      };
      var urlNya = url_tags_js + '/addnewtag';
      axios.post(url_tags_js + '/buattagbaru', {
        Data: dataJson
      })
        .then(function (response) {
          if (response.data.Status == "success") {
            $.notify(response.data.Message, "success");
            refreshTableTags();
          } else if (response.data.Status == "warning") {
            $.notify({ message: response.data.Message }, { type: "warn" }, { timer: 500 });
          } else {
            $.notify("pastikan anda terhubung dengan server atau hubungi administrator, eroor updatecontroller", "error");
          }
        })
        .catch(function (error) {
          swal({
            title: "ERROR",
            html: "<span style='color:#F8BB86'>" + error + "<span>"
            + '<br />',
            type: "error"
          })
        });//end axios


    });
  });//end doc

</script>