<div class="panel panel-default" style="width:100%;min-height:300px;margin-left: 0px;">
  <div class="panel-heading">TAGS CONFIGURATION</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary " id="idBtnAddNewTag"><span class="glyphicon glyphicon-plus"></span> Add New Tags</button>
        <button type="button" class="btn btn-primary " id="idReloadManual"><span class="glyphicon glyphicon-refresh"></span> Refresh Table Tags</button>
        <button type="button" class="btn btn-info " id="btnUpdateTableTagAll"><span class="glyphicon glyphicon-check"></span> Update ALL Tags</button>
      </div>
      <div class="col-md-4">

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div id="idTabelTags" style="width:700px;height:400px;position: initial;">
        </div>
      </div>
    </div>
  </div>
</div>
<%+ "tag/tag_js.html" %>
  <%+ "tag/informasi_tag.html" %>