<%!
    import	(
         koneksi "gitlab.com/edot92/gogateway/koneksi"
      	"encoding/json"

    )
     %>
    <!DOCTYPE html>
    <html>

    <head>
        <title>GATEWAY</title>
        <!--EMAIL : edyprasetiyoo@gmail.com-->
        <!--Facebook : https://www.facebook.com/eddot.fu-->
        <!--mobile phone : 083876989317 atau 082210160003-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="csrf_token" content="{{.xsrf_token}}" />
        <%+  "partials/allcss.html"  %>
            <%+  "partials/alljs.html"  %>
    </head>

    <body>
        <div class="container-fluid">
            <div class="konten_utama">
                <%@ konten { %>
                    <% } %>
            </div>
            <%+  "partials/footer.html"  %>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                date_time('jamrealtime');
            });
        </script>
        <%+  "controller/controller_js.html"  %>
            <%+  "controller/eventupdatecontroller.html"  %>

    </body>

    </html>