<%~ "index.html" %>

  <%: func HalamanVar(str []byte, buffer *bytes.Buffer) %>

    <%@ konten { %>
      <% var res koneksi.RenderdataHTML %>
        <% json.Unmarshal([]byte(str), &res) %>
          <section>
            <!--<h1>
              <%= res.BaseURL %>
            </h1>-->
            <label id="jamrealtime" style="margin-top:8px;">loading !!!!</label>
            <div class="row">
              <div id="jqxtabs">
                <ul style="margin-left: 0px; width:90%;height:90%;">
                  <li>Tags</li>
                  <li>Controller</li>
                  <!--<li>WebService</li>-->
                  <li>System Setting</li>
                </ul>
                <div>
                  <%+   "tag/tags.html" %>
                </div>
                <div>
                  <%+ "controller/controller.html" %>
                </div>
                <!--<div>
                </div>-->
                <div>
                  <%+  "systemsetting/sistemsetting.html" %>
                </div>
              </div>
            </div>
          </section>
          <%+  "partials/globalfc.html"  %>

            <% } %>