<script type="text/javascript">
  var listPortAKtif = [];
  var log = console.log;
  var getportavailable;
  $(document).ready(function () {
    $.ajaxSetup({
      headers: {
        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
      }
    });

    getportavailable = function getportavailable() {

      $.ajax({
        url: urlWebUsbPort + '/getportavailable',
        type: 'GET'
        , success: function (data) {
          print_("success get port");
          initTABLE_PORT_AVAILABLE(data);
        }
        , error: function (jqXHR, textStatus, errorThrown) {
          print_(jqXHR);
          swal({
            title: textStatus,
            html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
            + '<br />' + 'CODE:' + jqXHR.status,
            type: "error"
          })
        }
        , complete: function () {
          print_("complete");
          print_('refreshTabelPortALiasInit');
          setTimeout(refreshTabelPortALiasInit, 1000);
        }
      });
    }
    function initTABLE_PORT_AVAILABLE(data) {
      var source =
        {
          // datatype: "json",
          datafields: [
            { name: 'ID' },
            { name: 'UsbSystem', type: 'string' },
            { name: 'UpdatedAt', type: 'date' },

          ],
          localdata: data,
          id: 'ID'
        };
      print_(source);
      var dataadapter = new $.jqx.dataAdapter(source);

      // initialize jqxGrid
      TABLE_PORT_AVAILABLE = $("#TABLE_PORT_AVAILABLE").jqxGrid(
        {
          source: dataadapter,
          width: '99%',
          // height:  '99%',
          sortable: true,
          columns: [
            { align: 'center', text: 'Usb System', datafield: 'UsbSystem' },
            { align: 'center', text: 'UpdatedAt', datafield: 'UpdatedAt', cellsformat: 'dd-MM-yyyy hh:mm:ss' },
          ]
        });
    }


    // idTabelPortALiasInit
    function refreshTabelPortALiasInit() {
      print_('refreshTabelPortALiasInit');
      var rows = $('#TABLE_PORT_AVAILABLE').jqxGrid('getrows');
      listPortAKtif = [];
      if (!rows) {
        swal({
          title: "INFORMASI",
          html: "PORT TIDAK TERDETEKSI DI PERANGKAT",
          type: "info"
        })
        return;
      }
      for (var i = 0; i < rows.length; i++) {
        var row = rows[i];
        listPortAKtif[i] = row.UsbSystem;
      }

      print_(listPortAKtif);
      $.ajax({
        type: "GET",
        url: urlWebUsbPort + '/getportalias'
        , success: function (data) {
          // var res=JSON.parse(data);
          res = JSON.stringify(data);
          // alert('reload tabel tags');
          print_(res);
          if (res) {
            var qty = res.length;
            if (qty > 0) {
              for (i = 0; i < qty; i++) {
              }
              initTabelPortALias(data);
            }
          } else {
            swal({
              title: "INFORMASI",
              html: "PORT TIDAK TERDETEKSI DI PERANGKAT",
              type: "info"
            })
          }
        },
        error: function (jqXHR, textStatus, errorThrown) {
          print_(jqXHR);
          swal({
            title: textStatus,
            html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
            + '<br />' + 'CODE:' + jqXHR.status,
            type: "error"
          })
        }

      });

    }
    function initTabelPortALias(data) {

      // var jsonData=jsondata;
      var theme = "bootstrap";
      var source2 =
        {
          localdata: data,
          datafields: [
            { name: "ID" },
            { name: "UsbAlias", type: 'string' },
            { name: "UsbSystem", type: 'string' },
            { name: "Status" },
            { name: 'CreatedAt', type: 'date' },
            { name: 'UpdatedAt', type: 'date' },
          ],
          id: 'ID',
        };
      var dataAdapterTags = new $.jqx.dataAdapter(source2);
      // initialize jqxGrid
      $("#idTabelPortALiasInit").jqxGrid({
        width: '99%',
        // height:  '99%',
        source: dataAdapterTags,
        // filterable: true,
        sortable: true,
        autoheight: false,
        columnsautoresize: true,
        columnsresize: true,
        altrows: true,
        columnsresize: true,
        //  columnsreorder: true,
        //  autosavestate:true,
        //  autoloadstate:true,
        // pageable: true,
        // autoheight: true,
        selectionmode: 'singlerow',
        editable: true,
        theme: 'bootstrap',
        ready: function () {
          print_($("#idTabelPortALiasInit").jqxGrid('getdatainformation').rowscount);
          $('#idTabelPortALiasInit').on('cellvaluechanged', function (event) {
            //  $('#idTabelTags').jqxGrid('autoresizecolumn');
          });

        },

        columns: [
          // { text: '$loki', datafield: '$loki' ,hidden:true,width:80},
          { align: 'center', text: 'ID', datafield: 'ID', hidden: true },
          { align: 'center', text: 'NAME ALIAS USB', datafield: 'UsbAlias' },
          {
            align: 'center', text: 'NAME USB SYSTEM', datafield: 'UsbSystem', columntype: 'dropdownlist',
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(listPortAKtif, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ 'UsbSystem': this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },

          // { align: 'center', text: 'LASTVALUE', datafield: 'idlastvalue_tag',width:80 },
          { align: 'center', text: 'UPDATETIME', datafield: 'UpdatedAt', cellsformat: 'dd-MM-yyyy hh:mm:ss' },
          {
            align: 'center', text: 'Update', datafield: 'Update', columntype: 'button', cellsrenderer: function () {
              return "Update";
            }, buttonclick: function (row) {
              // open the popup window when the user clicks a button.
              editrow = row;
              //  alert(row);
              var offset = $("#idTabelPortALiasInit").offset();
              //  $("#popupWindow").jqxWindow({ position: { x: parseInt(offset.left) + 60, y: parseInt(offset.top) + 60 } });
              //
              //  // get the clicked row's data and initialize the input fields.
              var dataRecord = $("#idTabelPortALiasInit").jqxGrid('getrowdata', editrow);
              console.log(dataRecord);
              // log(dataRecord);
              var dataJson = {
                'ID': dataRecord.ID,
                'UsbAlias': dataRecord.UsbAlias,
                'UsbSystem': dataRecord.UsbSystem,

              };
              // log(dataJson);
              axios.post(urlWebUsbPort + '/updateportalias', {
                Data: dataJson
              })
                .then(function (response) {
                  if (response.data.Status == "success") {
                    $.notify(response.data.Message, "success");
                    print_(data.data);
                  } else if (response.data.Status == "warning") {
                    $.notify({ message: response.data.Message }, { type: "warning" }, { timer: 500 });

                  } else {
                    print_(data.error);
                    $.notify("pastikan anda terhubung dengan server atau hubungi administrator, eroor updatecontroller", "error");
                  }
                })
                .catch(function (error) {
                  swal({
                    title: "ERROR",
                    html: "<span style='color:#F8BB86'>" + error + "<span>"
                    + '<br />',
                    type: "error"
                  })
                });

              // $.ajax({
              //   type: "get",
              //   url: urlWebUsbPort + '/updateportalias',
              //   data: dataJson,
              //   dataType: "json",
              //   encode: true,
              //   beforeSend: function (xhr) {
              //     var token = $('meta[name="csrf_token"]').attr('content');
              //     startLoading();
              //     if (token) {
              //       print_("token true");
              //       return xhr.setRequestHeader('X-CSRF-TOKEN', token);
              //     } else {
              //       alert("token false");
              //       print_("token false");
              //     }
              //     stopLoading();
              //   }, success: function (data) {
              //     //  log(data.message);
              //     stopLoading();
              //     print_("datanya");
              //     // data=JSON.stringify(data);
              //     print_(data.message);
              //     if (data.message == "success") {
              //       print_(data.data);
              //       refreshTabelPortALiasInit();
              //       // $('#idTabelPortALiasInit').jqxGrid('updatebounddata', 'cells');
              //       // $('#modalAddNewController .close').click();
              //     } else if (data.message == "failed") {
              //       print_(data.error);
              //     }
              //   }, error: function (jqXHR, textStatus, errorThrown) {
              //     print_(jqXHR);
              //     swal({
              //       title: textStatus,
              //       html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
              //       + '<br />' + 'CODE:' + jqXHR.status,
              //       type: "error"
              //     })
              //   }
              // }); //end of ajax
            }
          }
        ],// end button kolom
        columngroups:
        [
          { text: 'REGISTER FROM ', align: 'center', name: 'from' },
          { text: 'REGISTER TO', align: 'center', name: 'to' }
          //  { text: 'Location', align: 'center', name: 'Location' }
        ]
      });// end init


      $("#idTabelPortALiasInit").on('cellvaluechanged', function (event) {
        // event arguments.
        var args = event.args;
        // column data field.
        var datafield = event.args.datafield;
        // row's bound index.
        var rowBoundIndex = args.rowindex;
        // new cell value.
        var value = args.newvalue;
        // old cell value.
        var oldvalue = args.oldvalue;
        print_("Column: " + oldvalue + ", " + "New Index: " + value + "rowBoundIndex" + rowBoundIndex + "datafield" + datafield);

      });
    };
    // refresh AVAILABLE PORT TABLE_PORT_AVAILABLE
    $('#btnrefreshUsbAvailable').click(function (event) {
      /* Act on the event */
      event.preventDefault();
      $.ajax({
        url: urlWebUsbPort + '/getportavailable',
        type: 'GET'
        , success: function (data) {
          print_("success get port");
          initTABLE_PORT_AVAILABLE(data);
        }
        , error: function (jqXHR, textStatus, errorThrown) {
          print_(jqXHR);
          swal({
            title: textStatus,
            html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
            + '<br />' + 'CODE:' + jqXHR.status,
            type: "error"
          })
        }
        , complete: function () {
          print_("complete");
          print_('refreshTabelPortALiasInit');
          setTimeout(refreshTabelPortALiasInit, 1000);
        }
      });

    }); //end button
  });//end doc

</script>