<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-8">
            PORT AVAILABLE
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">
            <button id="btnrefreshUsbAvailable" class="btn btn-sm btn-primary"><span class=" glyphicon glyphicon-refresh"></span> REFRESH </button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div id="TABLE_PORT_AVAILABLE" style="width:700px;"></div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="panel panel-info">
      <div class="panel-heading"> PORT ALIAS</div>
      <div class="panel-body">
        <div id="idTabelPortALiasInit" style="width:700px;height:400px;">
        </div>
      </div>
    </div>
  </div>
</div>
<%+ "systemsetting/usbport/usbport_js.html"  %>