<div class="row-fluid">

  <form class="form-horizontal" id="idFormAddNewController">
    <div class="form-group" style="margin-top:-12px;">
      <label class="control-label col-sm-2" for="pwd">Name Controller:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="idname_controller" name="idname_controller" placeholder="" min="1" max="20" required>
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;">
      <label class="control-label col-sm-2">Active :</label>
      <div class="col-sm-6">
        <select class="form-control" id="idactive_controller" name="idactive_controller">
          <option selected>True</option>
          <option>False</option>
        </select>
      </div>
    </div>
    <hr>
    <div class="form-group" style="margin-top:-12px;">
      <label class="control-label col-sm-2">Communication Mode :</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="idcommunicationmode_controller" name="idcommunicationmode_controller" placeholder=""
          readonly="true" value="Serial">
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;">
      <label class="control-label col-sm-2" for="pwd">Default Station :</label>
      <div class="col-sm-6">
        <input type="number" class="form-control" id="idstation_controller" name="idstation_controller" placeholder="" min="1" max="247"
          value="1" required>
      </div>
    </div>
    <hr>
    <div class="form-group" style="margin-top:-12px;" style="display: none">
      <label class="control-label col-sm-2" for="pwd">Modbus Protocol :</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="idprotocol_controller" name="idprotocol_controller" placeholder="" readonly="true"
          value="Modbus_RTU">
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;" style="display: none">
      <label class="control-label col-sm-2" for="pwd">Port :</label>
      <div class="col-sm-6">
        <select class="form-control" id="idport_controller" name="idport_controller">
      <% for _, data := range res.ListPort { %>
                  <option value='<%==s data %>'> <%==s data %> </option>
        <% } %>

        </select>
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;" style="display: none">
      <label class="control-label col-sm-2" for="pwd">Baudrate :</label>
      <div class="col-sm-6">
        <select class="form-control" id="idbaud_controller" name="idbaud_controller">
          <% for _, data := range res.ListBaud { %>
                  <option value='<%==s data %>'> <%==s data %> </option>
        <% } %>
        </select>
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;" style="display: none">
      <label class="control-label col-sm-2" for="pwd">Parity :</label>
      <div class="col-sm-6">
        <select class="form-control" id="idparity_controller " name="idparity_controller">
     <% for _, data := range res.ListParity { %>
                  <option value='<%==s data %>'> <%==s data %> </option>
        <% } %>
        </select>
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;" style="display: none">
      <label class="control-label col-sm-2" for="pwd">Data bits :</label>
      <div class="col-sm-6">
        <select class="form-control" id="iddatabit_controller" name="iddatabit_controller">
     <% for _, data := range res.ListDatabits { %>
                  <option value='<%==s data %>'> <%==s data %> </option>
        <% } %>
        </select>
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;" style="display: none">
      <label class="control-label col-sm-2" for="pwd">Stop bits :</label>
      <div class="col-sm-6">
        <select class="form-control" id="idstopbits_controller" name="idstopbits_controller">

  <% for _, data := range res.ListStopbits { %>
                  <option value='<%==s data %>'> <%==s data %> </option>
        <% } %>
        </select>
      </div>
    </div>
    <div class="form-group" style="margin-top:-12px;" style="display: none">
      <div class="col-sm-offset-2 col-sm-6">
        <button id="btnSimpanAddNewController" class="btn btn-primary btn-block">Simpan</button>
      </div>
    </div>
  </form>
</div>