<script type="text/javascript">
  $.fn.serializeObject = function () {
    var o = {};
    this.find("[name]").each(function () {
      o[this.name] = this.value;
    });
    return o;
  };
  //respon json
  var log = console.log;

  // $(document).ready(function() {

  var listBaud = [300, 600, 1200, 2400, 4800, 9600, 19200, 38400, 57600, 115200];
  var listPort = [];
  for (i = 1; i < 5; i++) {
    listPort[i - 1] = "PORT" + i;
  };
  var listParity = ["None", "Even", "Odd"];
  var listDatabits = [7, 8];
  var listStopbits = [1, 2];

  function refreshTableController() {

    $.ajax({
      url: url_tags_Controller + '/gettablecontroller',
      type: 'GET',
      beforeSend: function (xhr) {
        startLoading();
      },
      success: function (data) {
        res = JSON.stringify(data);
        var qty = res.length;
        if (qty > 0) {
          for (i = 0; i < qty; i++) {
          }
          // log(res);
          editedRowsTableController = [];
          initTableController(data);
          // refreshTableTags();
        }
      },
      error: function (jqXHR, textStatus, errorThrown) {
        print_(jqXHR);
        swal({
          title: textStatus,
          html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
          + '<br />' + 'CODE:' + jqXHR.status,
          type: "error"
        })
      }, complete: function () {
        stopLoading();
      }
    });
    return this;
  }

  //********************load table first ***************/
  function initTableController(jsondata) {
    // for (var index = 0; index < jsondata.Data.length; index++) {
    //   jsondata.Data

    // }
    var theme = "bootstrap";
    var Lib = {
      // list: [{name:"PM 1",id:1,active:false},{name:"PM2",id:2,active:true}]
      list: jsondata.Data
    };

    var source = {
      updaterow: function (rowid, rowdata, commit) {
        // that function is called after each edit.
        var rowindex = $("#idTabelCOntroller").jqxGrid('getrowboundindexbyid', rowid);
        editedRowsTableController.push({ index: rowindex, data: rowdata });
        // synchronize dengan  server - kirim update
        // call commit with parameter true if the synchronization with the server is successful
        // and with parameter false if the synchronization failder.
        commit(true);
      },
      localdata: Lib.list,
      id: "ID",
      // datatype: "json",
      datafields: [
        { name: "ID", type: "int" },
        { name: "IdnameController" },
        { name: "idid_controller" },
        { name: "IdactiveController", type: 'boolean' },
        { name: 'IdcommunicationmodeController', type: 'string' },
        { name: 'IdprotocolController', type: 'string' },
        { name: 'IdstationController', type: 'int' },
        { name: 'IdportController', type: 'string' },
        { name: 'IdbaudController', type: 'string' },
        { name: 'IdparityController', type: 'string' },
        { name: 'IddatabitController', type: 'string' },
        { name: 'IdstopbitsController' }
      ]
    };
    var cellclassTableCOntroller = function (row, datafield, value, rowdata) {
      for (var i = 0; i < editedRowsTableController.length; i++) {
        if (editedRowsTableController[i].index == row) {
          return "editedRow";
        }
      }
    }//end cell class
    var dataAdapter = new $.jqx.dataAdapter(source);
    // initialize jqxGrid
    $("#idTabelCOntroller").jqxGrid(
      {
        width: '99%',
        height: '99%',
        source: dataAdapter,
        sortable: true,
        pageable: false,
        //  autorowheight: true,
        altrows: true,
        columnsresize: true,
        showfilterrow: true,
        filterable: true,
        // autoheight: true,
        selectionmode: 'singlecell',
        editable: true,
        theme: 'bootstrap',
        ready: function () {
          print_('reload tabel controller');
          $('#idTabelCOntroller').on('cellvaluechanged', function (event) {
            $("#log").html("A value of a cell has been changed");
            $('#idTabelCOntroller').jqxGrid('autoresizecolumn');
          });
        },
        columns: [
          { text: 'ID', datafield: 'ID', width: 300, hidden: true, cellclassname: cellclassTableCOntroller },
          { text: 'Name', datafield: 'IdnameController', width: 300, cellclassname: cellclassTableCOntroller },
          { text: 'ID Slave', datafield: 'idId_Controller', width: 40, hidden: true, cellclassname: cellclassTableCOntroller },
          { text: 'Active', editable: true, datafield: 'IdactiveController', columntype: 'checkbox', width: 50, cellclassname: cellclassTableCOntroller },
          { text: 'Communication', editable: false, datafield: 'IdcommunicationmodeController', width: 110, cellclassname: cellclassTableCOntroller },
          { text: 'Protocol', editable: false, datafield: 'IdprotocolController', width: 110, cellclassname: cellclassTableCOntroller },
          { text: 'Station', editable: true, datafield: 'IdstationController', width: 70, cellclassname: cellclassTableCOntroller },
          {
            text: 'Port', datafield: 'IdportController', columntype: 'dropdownlist', width: 80, cellclassname: cellclassTableCOntroller,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(listPort, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ "IdportController": this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            text: 'Baudrate', datafield: 'IdbaudController', columntype: 'dropdownlist', width: 80, cellclassname: cellclassTableCOntroller,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(listBaud, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ "IdbaudController": this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            text: 'Parity', editable: true, datafield: 'IdparityController', columntype: 'dropdownlist', width: 70, cellclassname: cellclassTableCOntroller,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(listParity, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ "IdparityController": this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            text: 'Data Bit', editable: true, datafield: 'IddatabitController', columntype: 'dropdownlist', width: 70, cellclassname: cellclassTableCOntroller,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(listDatabits, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ "IddatabitController": this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            text: 'Stop Bit', editable: true, datafield: 'IdstopbitsController', columntype: 'dropdownlist', width: 70, cellclassname: cellclassTableCOntroller,
            initeditor: function (row, cellvalue, editor, celltext, cellwidth, cellheight) {
              var array = new Array();
              var selectedIndex = -1;
              $.each(listStopbits, function (index) {
                if (this == cellvalue)
                  selectedIndex = index;
                array.push({ "IdstopbitsController": this });
              });
              editor.jqxDropDownList({
                source: array, selectedIndex: selectedIndex
              });
            }
          },
          {
            text: 'Update', datafield: 'Update', columntype: 'button', cellsrenderer: function () {
              return "Update";
            }, buttonclick: function (row) {
              editrow = row;
              var offset = $("#idTabelCOntroller").offset();
              var dataRecord = $("#idTabelCOntroller").jqxGrid('getrowdata', editrow);
              var dataJson = {
                'ID': parseInt(dataRecord.ID),
                'IdnameController': dataRecord.IdnameController,
                //  'idid_controller':dataRecord.idid_controller ,
                'IdactiveController': Boolean(dataRecord.IdactiveController),
                'IdcommunicationmodeController': dataRecord.IdcommunicationmodeController,
                'IdprotocolController': dataRecord.IdprotocolController,
                'IdstationController': parseInt(dataRecord.IdstationController),
                'IdportController': dataRecord.IdportController,
                'IdbaudController': dataRecord.IdbaudController.toString(),
                'IdparityController': dataRecord.IdparityController,
                'IddatabitController': dataRecord.IddatabitController.toString(),
                'IdstopbitsController': dataRecord.IdstopbitsController.toString()
              };
              console.log(dataJson);
              axios.post(url_tags_Controller + '/updatecontroller', {
                Data: dataJson
              }).then(response => {
                //  log(data.message);
                stopLoading();
                print_("datanya");
                // data=JSON.stringify(data);
                print_(response.data.Message);

                if (response.data.Message == "success") {
                  $.notify("BERHASIL MENGUPDATE DATA", "success");
                  refreshTableController();
                  // $('#idTabelCOntroller').jqxGrid('updatebounddata', 'cells');
                } else if (response.data.Message == "failed") {
                  swal({
                    title: response.data.Message,
                    text: "response.data.error",
                    type: 'warning'
                  }
                  )
                }
              }).catch(err => {
                swal({
                  title: "ERROR",
                  text: err.Error,
                  type: 'error'
                }
                )
              })

            }
          },
          {
            text: 'Delete', datafield: 'Delete', columntype: 'button', cellsrenderer: function () {
              return "Delete";
            }, buttonclick: function (row) {
              // open the popup window when the user clicks a button.

              editrow = row;

              var dataRecord = $("#idTabelCOntroller").jqxGrid('getrowdata', editrow);
              // log(dataRecord);
              var dataJson = {
                'ID': dataRecord.ID,
                'IdnameController': dataRecord.IdnameController,
                'IdactiveController': dataRecord.IdactiveController,
                'IdcommunicationmodeController': dataRecord.IdcommunicationmodeController,
                'IdprotocolController': dataRecord.IdprotocolController,
                'IdstationController': dataRecord.IdstationController,
                'IdportController': dataRecord.IdportController,
                'IdbaudController': dataRecord.IdbaudController,
                'IdparityController': dataRecord.IdparityController,
                'IddatabitController': dataRecord.IddatabitController.toString(),
                'IdstopbitsController': dataRecord.IdstopbitsController.toString()
              };
              var txt;
              var r = confirm("Data Controller :" + dataRecord.IdnameController + " akan Terhapus!");
              if (r == true) {
                txt = "You pressed OK!";

              } else {
                txt = "You pressed Cancel!";
                return;
              }
              $.ajax({
                type: "GET",
                url: url_tags_Controller + '/deletecontroller',
                data: dataJson,
                // params:dataJson,
                // dataType:"json",
                //  encode          : true,
                beforeSend: function (xhr) {
                  var token = $('meta[name="csrf_token"]').attr('content');
                  startLoading();
                  if (token) {
                    print_("token true");
                    return xhr.setRequestHeader('X-CSRF-TOKEN', token);
                  } else {
                    swal("token false");
                    print_("token false");
                  }
                  stopLoading();
                }, success: function (data) {
                  //print_(data.message);
                  print_(data);
                  if (data.Message == "success") {
                    // swal(data.message);
                    $.notify("BERHASIL MENGHAPUS DATA", "success");
                    refreshTableController();
                    $('#idTabelCOntroller').jqxGrid('updatebounddata', 'cells');
                    // $('#modalAddNewController .close').click();
                  } else if (data.Message == "failed") {
                    swal({
                      title: "WARNING",
                      html: "<span style='color:#F8BB86'>" + data.Error + "<span>",
                      type: "error"
                    })
                  }
                  stopLoading();
                }, error: function (jqXHR, textStatus, errorThrown) {
                  print_(jqXHR);
                  swal({
                    title: textStatus,
                    html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
                    + '<br />' + 'CODE:' + jqXHR.status,
                    type: "error"
                  })
                }
              }); //end of ajax
            }
          }// end button kolom
        ]
      });

  };

  /******************************************************/
  $("#btnSimpanAddNewController").click(function (event) {
    event.preventDefault();

    var dataJson = JSON.parse(JSON.stringify($('#idFormAddNewController').serializeObject()));
    // log(JSON.stringify(dataJson));
    // var url = $(this).attr("data-link");
    $.ajax({
      type: "GET",
      url: url_tags_Controller + '/addnewcontroller',
      data: dataJson,
      dataType: "json",
      encode: true,
      beforeSend: function (xhr) {
        var token = $('meta[name="csrf_token"]').attr('content');
        startLoading();
        if (token) {
          print_("token true");
          return xhr.setRequestHeader('X-CSRF-TOKEN', token);
        } else {
          swal("token false");
          print_("token false");
        }
        stopLoading();
      }, success: function (data) {
        print_(data);
        //  log(data.message);
        if (data.Message == "success") {
          // swal(data.data);
          $.notify("BERHASIL MENAMBAHKAN DATA CONTROLLER", "success");

          refreshTableController();
          $('#idTabelCOntroller').jqxGrid('updatebounddata', 'cells');
          $('#modalAddNewController .close').click();
        } else if (data.Message == "failed") {
          swal({
            title: "WARNING",
            html: "<span style='color:#F8BB86'>" + data.Error + "<span>"
            + '<br />',
            type: "error"
          })
        }
        stopLoading();
      }, error: function (jqXHR, textStatus, errorThrown) {
        print_(jqXHR);
        swal({
          title: textStatus,
          html: "<span style='color:#F8BB86'>" + errorThrown + "<span>"
          + '<br />' + 'CODE:' + jqXHR.status,
          type: "error"
        })
      }
    }); //end of ajax


  });
// });

</script>