<!-- Modal setting-->
<div class="modal fade" id="modalSettingController" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Konfigurasi Slave Device</h4>
      </div>
      <div class="modal-body">
        <!-- <div class="row">

        - Pemilihan berdasarkan row yang di kllik pada tabel kontroller <br>
        -	Modbus Master (mini pc) hanya sebagai Modbus Master TCP
        <br>
-	Konfigurasi alamat master harus lebih dari 0     <br>
-	Protocol yang di support di master hanya Modbus TCP    <br>
-	32 bit word mapping untuk float dapat di pilih BIG Endian / Litte Endian    <br>
-	Halaman setting master terpisah menjadi system setting   <br>
</div> -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal add new-->
<div class="modal fade" id="modalAddNewController" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Slave Device</h4>
      </div>
      <div class="modal-body">
        <%+  "controller/add_new_controller.html"  %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default" style="width:100%;min-height:600px;margin-left: 0px;">
  <div class="panel-heading">CONTROLLER CONFIGURATION</div>
  <div class="panel-body">
    <div class="row">
      <!-- <div style="margin-left: 30px; float: left;"> -->
      <div class="col-md-6">
        <button type="button" class="btn btn-primary" name="button" data-toggle="modal" data-target="#modalAddNewController"><span class="glyphicon glyphicon-plus"></span>Add New Slave Device</button>
        <button type="button" class="btn btn-primary " name="" id="idReloadManualTController"><span class="glyphicon glyphicon-refresh"></span> Refresh Table Controller</button>
        <button type="button" class="btn btn-info" name="button" id="btnUpdateTableController"><span class="glyphicon glyphicon-check"></span>Apply Change</button>

      </div>
      <div class="col-md-4">
      </div>
    </div>
    <br>
    <div class="row">
      <div id="idTabelCOntroller">
      </div>
    </div>
    <div class="row">
      <div id="log">LOG:</div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $('#idReloadManualTController').click(function (event) {
      /* Act on the event */
      //  alert("refreshTableTags");
      event.preventDefault();
      refreshTableController();
    });
  });

</script>